body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url('images/Campius.jpg');
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the body height covers the full viewport */
    margin: 0;
  }
  